* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fdf7e4;
}

a {
  color: #333;
  text-decoration: none;
  padding-right: 17px;
  font-weight: bold;
}

a.activeStyle {
  font-weight: bolder;
  text-decoration: underline;
  color: orangered;
}
